* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  position: absolute;
  top: 20px;
  left: 30%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

#app {
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#app section.container {
  position: absolute;
  top: 50px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  max-width: 900px;
}

.articles {
  position: relative;
}

.articles .articles__list {
  list-style-type: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.articles .articles__list .articles__item:nth-child(-n + 2) {
  width: 50%;
}

.articles .articles__list .articles__item.additional {
  width: 33%;
}

.articles .articles__list .articles__item {
  padding: 5px;
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.articles .articles__button {
  position: relative;
  top: 15px;
  left: 2px;
  padding: 5px;
  margin: 0 0 50px 0px;
  width: calc(100% - 10px);
  font-weight: 500;
  line-height: 25px;
  text-transform: uppercase;
  color: black;
  background-color: transparent;
  font-size: 14px;
  border: 2px solid rgba(67, 99, 201, 0.459);
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.articles .articles__button:hover {
  color: white;
  background-color: rgba(67, 99, 201, 0.459);
}

.articleCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3px;
  min-width: 100%;
  height: 240px;
  overflow: hidden;
  background-size: cover;
  background-color: white;
  -webkit-box-shadow: 0 1px 2px 0 rgba(202, 44, 44, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 1px 2px 0 rgba(202, 44, 44, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
}

.articleCard .articleCard__image {
  overflow: hidden;
  width: 100%;
  height: 70%;
  background-position: center;
  background-size: contain;
}

.articleCard .articleCard__image img {
  display: block;
  width: auto;
  min-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  overflow: hidden;
}

.articleCard .articleCard__description {
  padding: 5px;
  margin: 7px;
  line-height: 1.2rem;
  height: 30%;
  width: 100%;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

.articleCard .articleCard__description p.source {
  text-align: left;
  font-size: 0.8rem;
  color: blue;
  margin-bottom: 7px;
}

.articleCard .articleCard__description a:link {
  text-decoration: none;
  color: black;
}

.articleCard .articleCard__description a:link p {
  text-align: left;
  font-size: 15px;
  margin-top: 5px;
}

@media (max-width: 1024px) {
  header {
    left: 33%;
  }
  ul > li {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 640px) {
  header {
    left: 20%;
  }
  ul > li {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
/*# sourceMappingURL=style.css.map */